:root {
  --black-color: #31323a;
  --black-color-transparent: rgba(64, 49, 49, 0.8);
  --light-black-color: #4d4b58;
  --grey-color: #e9efff;
  --beige-color: #ffeeca;
}

body {
  /* Achtergrond van de pagina */
  background: url("../img/achtergrond.png") center fixed;
  background-size: 100%;
  background-color: #31323a;
  font-size: 20px;
  /*font-family: "Arial Black", serif;*/
}

section {
  /* De ruimte tussen elke section */
  margin-bottom: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Lekker wat ruimte tussen sponsoren */
.sponsor {
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-sponsor {
  width: 100%;
}

.caption {
  /* Caption of the thumbnails */
  color: white;
}

.table-prices {
  margin: 10px;
}

.container-fluid {
  /* Breedte van de sections */
  width: 75%;
  padding-top: 25px;
  padding-bottom: 50px;
  /* Kleur van de tekst */
  color: var(--grey-color);
}

.container-background-color {
  background-color: var(--black-color-transparent);
}

footer {
  background-color: var(--light-black-color) !important;
}

.fancy-border {
  /* Soort border die om alle sections heen zit */
  /* border: 2px solid var(--grey-color); */
  border-radius: 10px;
}

#mainNav {
  background-color: var(--black-color);
}

.nav-link {
  /* Kleur van de tekst in de nav-bar */
  color: var(--grey-color) !important;
}

.navbar-brand {
  /* Kleur van de tekst in de navbar linksboven */
  color: var(--grey-color) !important;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 250%;
  overflow: hidden;
}

.text-medium {
  font-size: 200%;
}

/* Deze dingen gelden alleen voor kleine schermen zoals mobiel (kleiner dan 992px) */
@media (max-width: 992px) {
  .container-fluid {
    /* Breedte van de sections op kleinere schermen*/
    width: 95%;
  }

  .calendar-size {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .text-big {
    font-size: 175%;
  }

  .text-medium {
    font-size: 125%;
  }
}

/* new */

/* Cemter the logo properly */
header > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-seperator {
  background-color: var(--grey-color);
}

.thema-line {
  font-family: "drunk-cowboy";
  font-weight: bold;
  margin: 80px 0;
}

.section-heading {
  font-family: "drunk-cowboy";
  font-size: 4rem;
}

.activity-start {
  margin-top: 60px;
}
